body {
  padding-bottom: 50px;
}

.container {
  margin-top: 70px;
}

.dropdown-menu span.glyphicon {
  margin-right: 5px;
}

th span.glyphicon {
    font-size: 11px;
    margin-left: 5px;
}

.tab-pane.markjax-preview {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 0 0 4px 4px;
  border-top: 0px;
}
